{% extends 'admin/master.html' %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <h1>Bem-vindo</h1>
            <h3>Como utilizar a ferramenta:</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
        <div class="col-md-6">
            <h1>Tecnologias utilizadas</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
        </div>
    </div>

{% endblock body %}