{% extends 'admin/master.html' %}
{% block head %}
<style type="text/css">
    .readme{
        font-size: larger;
    }
</style>
{% endblock head %}
{% block body %}


    <div class="row">
        <h1 class="col-md-8">Bem-vindo!</h1>
        <div class="col-md-6">
            <h3>Como utilizar a ferramenta:</h3>
            <p class="readme">
                Para consultar os dados, basta selecionar no menu acima a tabela que deseja checar.
                Ao escolher a tabela, você pode criar algum dado em <em>'create'</em>, ou <em>deletar</em>, ao clicar
                no ícone de lixeira.
                Para <em>editar</em> o dado armazenado, basta selecionar o ícone do lápis ao lado da lixeira.
                Algumas ressalvas para a criação de registros:
            </p>
            <p class="readme">
                &#9654; Um curso não existe sem um coordenador que, por sua vez, é um professor;
                <br />
                &#9654; Um aluno precisa estar vinculado a um curso já existente;
                <br />
                &#9654; Um aluno só pode ser <strong>matriculado em </strong> uma matéria já registrada;
                <br />
                &#9654; Uma matéria só pode ser <strong>lecionada por </strong> um professor já cadastrado;
                <br />
            </p>
        </div>
        <div class="col-md-6">
            <h3>Tecnologias utilizadas:</h3>
            <p class="readme">
                <strong>Flask-admin</strong>: Microframework baseado em Python com o objetivo de criar páginas web.
                (<strong>Versão: 2.0.1</strong>)
            </p>
            <p class="readme">
                <strong>SQLAlchemy</strong>: Object-Relational Mapping (ORM) de código aberto desenvolvido para a linguagem
                Python distribuído sobre a licença MIT.  (<strong>Versão: 1.4.23</strong>)
            </p>
            <p class="readme">
                <strong>SQLite3</strong>: Sistema Gerenciador de Banco de Dados (SGBD) que manipula os dados inseridos no
                nosso sistema. (<strong>Versão: 3.36.0</strong>)
            </p>
            <p class="readme">
                <strong>Python</strong>: Linguagem de programação de alto nível.
                 <br/>(<strong>Versão: 3.9</strong>)
            </p>
        </div>
    </div>

{% endblock body %}